<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TwitchChatinator.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <TwitchChatinator.Settings>
      <setting name="TwitchUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="TwithChannel" serializeAs="String">
        <value />
      </setting>
      <setting name="PollChromaKey" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="PollAllowMulti" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PollOption1" serializeAs="String">
        <value>Yes</value>
      </setting>
      <setting name="PollOption2" serializeAs="String">
        <value>No</value>
      </setting>
      <setting name="PollOption3" serializeAs="String">
        <value />
      </setting>
      <setting name="PollOption4" serializeAs="String">
        <value />
      </setting>
      <setting name="PollOption1Color" serializeAs="String">
        <value>Maroon</value>
      </setting>
      <setting name="PollOption2Color" serializeAs="String">
        <value>RoyalBlue</value>
      </setting>
      <setting name="PollOption3Color" serializeAs="String">
        <value>Orange</value>
      </setting>
      <setting name="PollOption4Color" serializeAs="String">
        <value>ForestGreen</value>
      </setting>
      <setting name="PollLeftMargin" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PollRightMargin" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PollTopMargin" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PollBottomMargin" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PollBarHeight" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="PollBarWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="PollTitleFont" serializeAs="String">
        <value>Segoe UI, 15.75pt</value>
      </setting>
      <setting name="PollTitleColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="PollCountFont" serializeAs="String">
        <value>Segoe UI, 12pt</value>
      </setting>
      <setting name="PollCountColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="PollTotalFont" serializeAs="String">
        <value>Segoe UI, 14.25pt</value>
      </setting>
      <setting name="PollTotalColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="PollTotalWidth" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="PollBarSpacing" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="PollWindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="RollLeftMargin" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RollRightMargin" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RollTopMargin" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RollBottomMargin" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RollTotalWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="RollTitleColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="RollRollerColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="RollEntriesColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="RollRollerText" serializeAs="String">
        <value>Roll</value>
      </setting>
      <setting name="RollTitleFont" serializeAs="String">
        <value>Segoe UI, 24pt</value>
      </setting>
      <setting name="RollRollerFont" serializeAs="String">
        <value>Segoe UI, 28pt</value>
      </setting>
      <setting name="RollEntriesFont" serializeAs="String">
        <value>Segoe UI, 16pt</value>
      </setting>
      <setting name="RollChromaKey" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="RollEntriesTop" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="RollRollerTop" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="RollTitleText" serializeAs="String">
        <value>GIVEAWAY</value>
      </setting>
      <setting name="RollWindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </TwitchChatinator.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".Net Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>